__pycache__/
.vscode
*.pyc

#Tests Pycache
Test/Generator/__pycache__/
Test/Materials/__pycache__/
Test/Resolver/__pycache__/
Test/Utils/__pycache__/

#src Pycache
src/Generator/__pycache__/
src/Materials/__pycache__/
src/Resolver/__pycache__/
src/Utils/__pycache__/
src/layout/__pycache__/

Labyrinth_files/temp/generated_ascii.png
Labyrinth_files/temp/generated.txt
Labyrinth_files/temp/resolver_ascii.png
Labyrinth_files/temp/resolver.txt